@charset "UTF-8";

@media (max-width:1024px){

    #cardapio{
        justify-content: center;
    }

    .sabores{
        width: calc(100% / 2);
    }
}

@media (max-width:768px) {
    
    /*PÁGINA PRINCIPAL*/

    max-width: 100%;
    
}