@charset "UTF-8";

@media (max-width:1024px){

    #cardapio{
        justify-content: center;
    }

    .sabores{
        width: calc(100% / 2);
    }
}

@media (max-width:768px){

    /*PÁGINA PRINCIPAL*/

    main {
        max-width: 100%;
    }

    .desc-ingredientes{
        max-width: 100%;
    }

    /*sabores cardápio*/

    .sabores{
        width: auto;
        padding: 3rem;
    }
}

@media (max-width: 600px) {

    /*PÁGINA PRINCIPAL*/

    main{
        padding: 1rem;
    }

    form{
        width: 100%;
    }

    #sabores figure {
        display: none;
    }

    .desc-ingredientes table th{
        padding: 1rem;
    }

    .desc-ingredientes table td {
        padding: 1rem;
    }
    
}

@media (max-width:465px) {
    /*PÁGINA PRINCIPAL*/

    .img-logo {
        width: 210px;
    }

    .menu ul{
        display: none;
    }
    
    .opt-um, .opt-dois, .opt-tres {
        width: 40px;
        height: 5px;
        background-image: linear-gradient(to right, rgb(208, 163, 48), #C9354D);
        box-shadow: 0px 2px 6px black ;
        border-radius: 1px;
        position: relative;
        margin: 6px 0px;
        transition: transform 0.3s;
    }

    
    #menu-check:checked ~ .opt-dois{
        opacity: 0;
    }

    #menu-check:checked ~ .opt-um {
        transform: rotate(45deg) translate(7px, 7px);
    }

    #menu-check:checked ~ .opt-tres {
        transform: rotate(-45deg) translate(8px, -9px);
    }

    #menu-check:checked ~ ul li {
        margin: 50px 0px;
        font-size: 1.5em;
        text-shadow: 0px 2px 6px black;
        transition:0.3s;
    }

    #menu-check:checked ~ ul li a {
        color: rgba(208, 163, 48);
    }

    #menu-check:checked ~ ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #131313;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 92px;
    }

    #sabores{
        display: none;
    }

    .pedidos{
        display: flex;
        justify-content: center;
    margin-bottom: 10rem;    }

    .pedidos a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.3em;
        text-align: center;
    }
}
   
@media (max-width: 320px) {
    .titulos p {
        display: none;

    }

    .titulos {
        margin: 5rem;
    }
    
}
   